<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{{meta_keywords}}">
    <meta name="description" content="{{meta_description}}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css"> -->
    <title>
        {%block title%}
            
            {% if page_title %}
                {{page_title}}
            {% endif %} {{site_name}}
                
        {%endblock%}
    </title>
</head>
<body>
    {%block content %}
    {%endblock%}
</body>
</html>